@{
    ViewData["Title"] = "Bảng tin tài liệu";
}

<div class="page-head">
    <h1>Bảng tin tài liệu</h1>
    <p>Xem tài liệu từ cộng đồng · Thích, bình luận, tải xuống...</p>
</div>

<div class="feed">
    <div class="post">
    </div>
</div>